<!DOCTYPE html>
<html>

    <head>
        <title>赵海龙 - 前端开发</title>
        <meta charset="utf-8">
        <meta name="applicable-device" content="pc,mobile">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            maximum-scale=1, user-scalable=no, viewport-fit=cover">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" media="all"
            href="/stylesheets/content.css">
    </head>

    <body class="font-zh-CN well-safari" id="cvs-show" style="">

        <div class="container">
            <div class="main">
                <div class="main-content">
                    <div class="right-panel">

                        <div id="cv-content" class="right-panel-resume-editor
                            fontsize-14 lineH-22">
                            <div class="resume-editor">
                                <div id="cv-profile">
                                    <div class="resume-editor-header
                                        header-without-avatar
                                        no-image-placeholder">
                                        
                                        <div id="profile-header"
                                            class="applicant-info">
                                            <div class="editor-header-title">
                                                赵海龙
                                            </div>
                                            <div
                                                class="editor-sub-header-title">
                                                <span>186-6711-6256</span> |
                                                <span>haichong0813@gmail.com</span>
                                            </div>
                                            <div
                                                class="editor-sub-header-title">
                                            </div>
                                            <div
                                                class="editor-sub-header-title">
                                                <span>生日：1988/9/23</span> |
                                                <span>男</span> | <span>汉族</span>
                                                | <span>未婚</span>
                                            </div>
                                            <div
                                                class="editor-sub-header-title">
                                            </div>

                                        </div>

                                        <div class="applicant-avatar">
                                        </div>
                                    </div>
                                </div>

                                <div id="cv-body" class="resume-editor-content
                                    ui-sortable">









                                    <div class="resume-editor-plate
                                        custom-editor cust-section-1015645
                                        custom-2"
                                        id="custom-2" data-id="1015645">
                                        <div class="resume-editor-plate-title"
                                            style="border-bottom-color:#404040">
                                            <div class="title-text">
                                                个人总结
                                            </div>

                                        </div>
                                        <div class="custom-info-content">

                                            <div class="resume-editor-plate-item
                                                info-editor">
                                                <div class="plate-item-tag">
                                                    <div
                                                        id="cust_info_des_1356533"
                                                        class="plate-item-content
                                                        description-content">
                                                        <ul>
                                                            <li>五年以上前端开发经验，在蘑菇街工作的五年经历了从开发到管理的角色转变，让我学习和积累了三年带团队的经验，以及熟悉了电商和导购业务。</li>
                                                            <li>工作中积极主动思考业务中存在的开发效率、性能和稳定性等前端问题，并推动和落实解决方案，最终达成目标。</li>
                                                            <li>技术栈主要集中在Vue/React/jQuery，对Node/Express/Mongodb/PHP/有一定开发经验。</li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="resume-editor-plate work-editor
                                        works"
                                        id="works">
                                        <div class="resume-editor-plate-title"
                                            style="border-bottom-color:#404040">
                                            <div class="title-text">
                                                工作经历
                                            </div>
                                            <input type="text" name="work_title"
                                                id="work_title" value="工作经历"
                                                class="title-input hidden">
                                        </div>
                                        <div class="works-content">

                                            <div
                                                class="resume-editor-plate-item">
                                                <div class="plate-item-tag">
                                                    <div
                                                        class="plate-item-tag-title
                                                        mobile-plate-item-tag-title">
                                                        <div class="tag-one-line
                                                            clearfix">
                                                            <div class="left">
                                                                <span class="">
                                                                    蘑菇街
                                                                    -
                                                                </span>
                                                                <span class=""
                                                                    data-placeholder="职位">
                                                                    业务前端团队leader
                                                                </span>
                                                                <span class="">
                                                                </span>
                                                            </div>
                                                            <div class="right">
                                                                <span
                                                                    class="normal-time">
                                                                    <span
                                                                        class=""
                                                                        data-placeholder="开始时间">2015年8月</span>
                                                                    -
                                                                    <span
                                                                        class=""
                                                                        data-placeholder="结束时间">至今</span>
                                                                </span>
                                                                <span
                                                                    class="num-time">
                                                                    2015.08 - 至今
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div
                                                        class="plate-item-content
                                                        description-content"
                                                        data-has-template="false">
                                                        <p>担任业务前端团队leader职位，从一开始负责自由市场，到锐鲨，再到电商基础等业务的前端团队工作。在自由市场工作期间，带团队参与过双11和双12大促，当时团队在面临资源紧缺的情况下，通过模块开发和的方式，解决了百余会场页面开发效率和保障线上稳定性的问题。之后接手电商基础团队，刚接手发现业务稳定性特别差，线上故障多，通过对业务代码梳理、规范约定、线上问题及时关注、发布流程把控等一系列措施，最终线上故障数由原本Q3季度6个降低到Q4季度1个，业务稳定性有了明显改善。然后开始着手解决自身业务开发效率和业务场景高效对接的问题，先后推进并落地了Vue组件化、统一登录、交易链路基础功能解耦等重点事项，帮助业务快速迭代和对接有了质的提升。</p>
                                                    </div>

                                                </div>
                                            </div>

                                            <div
                                                class="resume-editor-plate-item">
                                                <div class="plate-item-tag">
                                                    <div
                                                        class="plate-item-tag-title
                                                        mobile-plate-item-tag-title">
                                                        <div class="tag-one-line
                                                            clearfix">
                                                            <div class="left">
                                                                <span class="">
                                                                    蘑菇街
                                                                    -
                                                                </span>
                                                                <span class=""
                                                                    data-placeholder="职位">
                                                                    前端开发
                                                                </span>
                                                                <span class="">
                                                                </span>
                                                            </div>
                                                            <div class="right">
                                                                <span
                                                                    class="normal-time">
                                                                    <span
                                                                        class=""
                                                                        data-placeholder="开始时间">2013年7月</span>
                                                                    -
                                                                    <span
                                                                        class=""
                                                                        data-placeholder="结束时间">2015年8月</span>
                                                                </span>
                                                                <span
                                                                    class="num-time">
                                                                    2013.07 -
                                                                    2015.08
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div
                                                        class="plate-item-content
                                                        description-content"
                                                        data-has-template="false">
                                                        <p>担任前端开发职位，主要负责过商品详情页和商家后台两大块业务前端工作。工作期间，对商品详情页做过精心重构，通过用代码模块化、业务分离、SKU重构等方式，解决了以前代码耦合度高、多业务混乱、页面性能不佳等问题。之后接手商家后台的搭建工作，期间作为项目PM的角色，除了开发工作外，还包括技术选型、任务分工、项目排期、评估风险、进度把控、资源之间协调和沟通等工作，最终在时间紧张的情况下按时完成项目并上线。<br><br></p>
                                                    </div>

                                                </div>
                                            </div>

                                            <div
                                                class="resume-editor-plate-item">
                                                <div class="plate-item-tag">
                                                    <div
                                                        class="plate-item-tag-title
                                                        mobile-plate-item-tag-title">
                                                        <div class="tag-one-line
                                                            clearfix">
                                                            <div class="left">
                                                                <span class="">
                                                                    杭州也要买电子商务公司
                                                                    -
                                                                </span>
                                                                <span class=""
                                                                    data-placeholder="职位">
                                                                    前端开发
                                                                </span>
                                                                <span class="">
                                                                </span>
                                                            </div>
                                                            <div class="right">
                                                                <span
                                                                    class="normal-time">
                                                                    <span
                                                                        class=""
                                                                        data-placeholder="开始时间">2012年5月</span>
                                                                    -
                                                                    <span
                                                                        class=""
                                                                        data-placeholder="结束时间">2013年1月</span>
                                                                </span>
                                                                <span
                                                                    class="num-time">
                                                                    2012.05 -
                                                                    2013.01
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div
                                                        class="plate-item-content
                                                        description-content"
                                                        data-has-template="false">
                                                        <p>参与开发类似facebook的国内社交网站</p>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="resume-editor-plate
                                        custom-editor cust-section-1011260
                                        custom-1"
                                        id="custom-1" data-id="1011260">
                                        <div class="resume-editor-plate-title"
                                            style="border-bottom-color:#404040">
                                            <div class="title-text">
                                                项目经历
                                            </div>
                                        </div>
                                        <div class="custom-info-content">

                                            <div class="resume-editor-plate-item
                                                info-editor">

                                                <div class="plate-item-tag">
                                                    <div
                                                        class="plate-item-tag-title
                                                        mobile-plate-item-tag-title">
                                                        <div class="tag-one-line
                                                            clearfix">
                                                            <div class="left">
                                                                <span class="">
                                                                    Vue组件化
                                                                </span>
                                                                <span class="">
                                                                    项目负责人
                                                                </span>
                                                                <span class="">
                                                                </span>
                                                            </div>
                                                            <div class="right">
                                                                <span
                                                                    class="normal-time">
                                                                </span>
                                                                <span
                                                                    class="num-time">
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div
                                                        id="cust_info_des_1350860"
                                                        class="plate-item-content
                                                        description-content"
                                                        data-has-template="false">
                                                        <p>在带电商基础前端团队期间，当时面临随着业务规模的扩张，多个业务场景需要接入同样功能的情况下，比如商品详情页有很多衍生版本，普通/快抢/蘑豆/秒杀/拼团等等，原有拷贝代码的开发方式显得捉襟见肘，从开发效率、可维护性、可扩展性都是个大问题。之后提出并准备Vue组件化事情，通过跟团队核心成员沟通讨论可行性和投入产出比，以及对标初步解决方案，确定了后续重点事情和目标，包括组件梳理、规范制定、基础框架搭建、组件&amp;应用构建、文档建设等工作。最终推动并落地电商基础全业务组件化改造工作，大大解决了代码复用问题，提高了整体业务开发和协同效率。</p>
                                                    </div>


                                                </div>
                                            </div>

                                            <div class="resume-editor-plate-item
                                                info-editor">

                                                <div class="plate-item-tag">
                                                    <div
                                                        class="plate-item-tag-title
                                                        mobile-plate-item-tag-title">
                                                        <div class="tag-one-line
                                                            clearfix">
                                                            <div class="left">
                                                                <span class="">
                                                                    交易链路基础功能解耦
                                                                </span>
                                                                <span class="">
                                                                    项目负责人
                                                                </span>
                                                                <span class="">
                                                                </span>
                                                            </div>
                                                            <div class="right">
                                                                <span
                                                                    class="normal-time">
                                                                </span>
                                                                <span
                                                                    class="num-time">
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div
                                                        id="cust_info_des_1350861"
                                                        class="plate-item-content
                                                        description-content"
                                                        data-has-template="false">
                                                        <p>在带电商基础前端团队期间，当时遇到电商基础业务在支持外部业务时的一些问题，比如直播业务需要加购功能、充值业务需要下单功能等，一方面现有是以简单粗暴复制代码的方式在支持，当使用场景递增后，带来问题是加购、下单等基础功能维护升级成本的上升。另一方面是外部业务有个性化要求，现有组件和需求匹配度不高，接入不够灵活。通过对交易链路基础功能梳理，将UI和逻辑解耦，并开发标准的JS
                                                            SDK和NPM包，最终使得上游业务能快速接入基础功能，同时增强了交易链路代码可维护性和扩展性，间接提高了开发和协作效率。</p>
                                                    </div>



                                                </div>
                                            </div>

                                            <div class="resume-editor-plate-item
                                                info-editor">

                                                <div class="plate-item-tag">
                                                    <div
                                                        class="plate-item-tag-title
                                                        mobile-plate-item-tag-title">
                                                        <div class="tag-one-line
                                                            clearfix">
                                                            <div class="left">
                                                                <span class="">
                                                                    前端静态化（应用发布）
                                                                </span>
                                                                <span class="">
                                                                    前端开发
                                                                </span>
                                                                <span class="">
                                                                </span>
                                                            </div>
                                                            <div class="right">
                                                                <span
                                                                    class="normal-time">
                                                                </span>
                                                                <span
                                                                    class="num-time">
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div
                                                        id="cust_info_des_1350862"
                                                        class="plate-item-content
                                                        description-content"
                                                        data-has-template="false">
                                                        <p>在前端基础团队期间，为了解决现有Costa框架前后端分离不彻底的问题，包括velocity学习成本、本地环境依赖java、后端模板渲染、依赖后端应用发布等。与伙伴合作完成前端静态化整体项目，该项目解决前端应用从创建到开发、打包、发布等整个链路的打通，主要分应用管理、应用发布、应用打包等三大块事情。项目期间，我主要负责应用发布平台的开发工作，从方案设计、技术选型、UI视觉、开发到落地，以及对接应用管理和应用打包，最终合力完成整个项目开发以及后续推动应用改造并接入平台。</p>
                                                    </div>


                                                </div>
                                            </div>

                                            <div class="resume-editor-plate-item
                                                info-editor">

                                                <div class="plate-item-tag">
                                                    <div
                                                        class="plate-item-tag-title
                                                        mobile-plate-item-tag-title">
                                                        <div class="tag-one-line
                                                            clearfix">
                                                            <div class="left">
                                                                <span class="">
                                                                    美丽说融合
                                                                </span>
                                                                <span class="">
                                                                    前端对接人
                                                                </span>
                                                                <span class="">
                                                                </span>
                                                            </div>
                                                            <div class="right">
                                                                <span
                                                                    class="normal-time">
                                                                </span>
                                                                <span
                                                                    class="num-time">
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div
                                                        id="cust_info_des_1350968"
                                                        class="plate-item-content
                                                        description-content"
                                                        data-has-template="false">
                                                        <p>在蘑菇街和美丽说技术融合期间，担任赴北京美丽说融合项目前端对接人，项目目标是要在一个月时间把美丽说技术体系全部切到蘑菇街，从舍弃美丽说php+node到统一走蘑菇街java技术栈的改造，而前端评估后面临一些困难，工作量巨大（好比再造一个美丽说）、资源严重缺失（2-3人）、时间紧迫，在顶着压力的情况下，通过不厌其烦的和美丽说前端同学沟通交流，到了解和熟悉，建立了一定信任后，开始把蘑菇街前端技术输出给他们，解决了开发资源的瓶颈问题，最终双方合作完成技术融合项目，为后续业务发展奠定了基础。</p>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="resume-editor-plate edu-editor
                                        edus"
                                        id="edus">
                                        <div class="resume-editor-plate-title"
                                            style="border-bottom-color:#404040">
                                            <div class="title-text">
                                                教育经历
                                            </div>
                                            <input type="text" name="edu_title"
                                                id="edu_title" value="教育经历"
                                                class="title-input hidden">
                                        </div>
                                        <div class="edus-content">

                                            <div class="resume-editor-plate-item
                                                edu">
                                                <div class="plate-item-tag">
                                                    <div
                                                        class="plate-item-tag-title
                                                        mobile-plate-item-tag-title">
                                                        <div class="tag-one-line
                                                            clearfix">
                                                            <div class="left">
                                                                <span class="">
                                                                    广东南方学院
                                                                    -
                                                                </span>
                                                                <span class=""
                                                                    data-placeholder="专业">
                                                                    软件开发
                                                                </span>
                                                                <span class=""
                                                                    data-placeholder="学历">
                                                                </span>
                                                                <span class="">
                                                                </span>
                                                            </div>
                                                            <div class="right">
                                                                <span
                                                                    class="normal-time">
                                                                    2008年10月 -
                                                                    <span
                                                                        class="">2010年6月</span></span>
                                                                <span
                                                                    class="num-time">
                                                                    2008.10 -
                                                                    2010.06</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="plate-item-content
                                                        description-content"
                                                        data-has-template="false">
                                                    </div>


                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div>













                    </div>






































                </div>











































            </div>
        </div>
    </body>

</html>